### Import required libraries

In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import re
import contractor_data_fetcher
#import pca_data_fetcher

### Data sources

#### Contractor data analysis<a href="#contractor-analysis"></a>
Data on claims from community pharmacies for Pharmacy First clinical pathways is published by NHS BSA within the [Pharmacy and appliance contractor dispensing data](https://www.nhsbsa.nhs.uk/prescription-data/dispensing-data/dispensing-contractors-data) - from Feb 24 onwards the dataset contain columns for each clinical condition e.g. "NumberofPharmacyFirstClinicalPathwaysConsultations-AcuteOtitisMedia" which contains a count for each community pharmacy.

Here we fetch all csv files from Feb 24 onwards containing this data combine them all then return as a single dataframe:

In [3]:
contractor_df = contractor_data_fetcher.fetch_contractor_data()

Remove unneeded columns:

In [4]:
# Keep only the specified columns
columns_to_keep = [
    'ICBCode', 'ICB', 'NumberofPharmacyFirstClinicalPathwaysConsultations-AcuteOtitisMedia', 'NumberofPharmacyFirstClinicalPathwaysConsultations-AcuteSoreThroat',
    'NumberofPharmacyFirstClinicalPathwaysConsultations-Impetigo', 'NumberofPharmacyFirstClinicalPathwaysConsultations-InfectedInsectBites',
    'NumberofPharmacyFirstClinicalPathwaysConsultations-Shingles', 'NumberofPharmacyFirstClinicalPathwaysConsultations-Sinusitis',
    'NumberofPharmacyFirstClinicalPathwaysConsultations-UncomplicatedUTI', 'NumberofPharmacyFirstUrgentMedicineSupplyConsultations',
    'NumberofPharmacyFirstMinorIllnessReferralConsultations', 'month'
]

contractor_df = contractor_df[columns_to_keep]

Add total consultations column:

In [5]:
# Filter columns that start with 'NumberofPharmacyFirstClinicalPathwaysConsultations'
columns_to_sum = contractor_df.filter(regex='^NumberofPharmacyFirstClinicalPathwaysConsultations').columns

# Create the new column by summing the selected columns row-wise
contractor_df['NumberofPharmacyFirstClinicalPathwaysConsultations-Total'] = contractor_df[columns_to_sum].sum(axis=1)

Get national totals:

In [6]:
# Drop the 'ICBCode' and 'ICB' columns to get national view
contractor_df_national = contractor_df.drop(columns=['ICBCode', 'ICB'])

# Group by 'month' and sum the remaining columns
contractor_df_national = contractor_df_national.groupby(['month']).sum().reset_index()

contractor_df_national

,month,NumberofPharmacyFirstClinicalPathwaysConsultations-AcuteOtitisMedia,NumberofPharmacyFirstClinicalPathwaysConsultations-AcuteSoreThroat,NumberofPharmacyFirstClinicalPathwaysConsultations-Impetigo,NumberofPharmacyFirstClinicalPathwaysConsultations-InfectedInsectBites,NumberofPharmacyFirstClinicalPathwaysConsultations-Shingles,NumberofPharmacyFirstClinicalPathwaysConsultations-Sinusitis,NumberofPharmacyFirstClinicalPathwaysConsultations-UncomplicatedUTI,NumberofPharmacyFirstUrgentMedicineSupplyConsultations,NumberofPharmacyFirstMinorIllnessReferralConsultations,NumberofPharmacyFirstClinicalPathwaysConsultations-Total
0,2024-02-01,18893,41014,6816,3412,4078,18384,32678,78831,137396,125275
1,2024-03-01,22888,54756,6740,4180,4069,17220,34536,95789,131715,144389
2,2024-04-01,19295,56925,7191,6099,4470,17715,41951,90851,126193,153646
3,2024-05-01,20240,58022,6235,19010,4691,15909,44340,110710,127706,168447
4,2024-06-01,15826,52288,6362,27294,4626,15052,43289,100367,115729,164737
5,2024-07-01,17682,54859,6740,36370,5103,14115,51321,122269,110511,186190

### **TO DO - Compare these against the numbers we get from OpenSAFELY

Get regional totals:

In [7]:
# Group by 'ICBCode', 'ICB', and 'month', then sum the other columns
contractor_df_icb = contractor_df.groupby(['ICBCode', 'ICB', 'month']).sum().reset_index()

#Load region lookup file
icb_to_region_df = pd.read_csv("Sub_ICB_Locations_to_Integrated_Care_Boards_to_NHS_England_(Region)_(July_2022)_Lookup_in_England.csv")

# Keep only the specified columns
icb_to_region_df = icb_to_region_df[['ICB22CDH', 'NHSER22CDH', 'NHSER22NM']]

# Remove duplicates
icb_to_region_df = icb_to_region_df.drop_duplicates()

# Merge region name onto ICB code
contractor_df_icb = contractor_df_icb.merge(icb_to_region_df, left_on='ICBCode', right_on='ICB22CDH', how='left')

# Drop unneeded columns
contractor_df_regional = contractor_df_icb.drop(columns=['ICBCode', 'ICB', 'ICB22CDH', 'NHSER22CDH'])

# Grouping by NHSER22NM and month, summing the remaining columns
contractor_df_regional = contractor_df_regional.groupby(['NHSER22NM', 'month']).sum().reset_index()

contractor_df_regional

,NHSER22NM,month,NumberofPharmacyFirstClinicalPathwaysConsultations-AcuteOtitisMedia,NumberofPharmacyFirstClinicalPathwaysConsultations-AcuteSoreThroat,NumberofPharmacyFirstClinicalPathwaysConsultations-Impetigo,NumberofPharmacyFirstClinicalPathwaysConsultations-InfectedInsectBites,NumberofPharmacyFirstClinicalPathwaysConsultations-Shingles,NumberofPharmacyFirstClinicalPathwaysConsultations-Sinusitis,NumberofPharmacyFirstClinicalPathwaysConsultations-UncomplicatedUTI,NumberofPharmacyFirstUrgentMedicineSupplyConsultations,NumberofPharmacyFirstMinorIllnessReferralConsultations,NumberofPharmacyFirstClinicalPathwaysConsultations-Total
0,East of England,2024-02-01,2353,4347,640,347,414,2175,2965,7814,11740,13241
1,East of England,2024-03-01,3073,6161,646,423,450,2154,3441,8761,11682,16348
2,East of England,2024-04-01,2713,6345,652,683,534,2216,4188,8494,10522,17331
3,East of England,2024-05-01,2642,6413,569,2210,521,1826,4260,10226,11413,18441
4,East of England,2024-06-01,2046,5791,607,2991,551,1712,4362,10228,11761,18060
5,East of England,2024-07-01,2464,6379,615,4427,611,1669,5112,12925,11154,21277
6,London,2024-02-01,1476,4539,475,371,325,1612,3243,14553,23163,12041
7,London,2024-03-01,2221,7423,522,540,359,2053,4078,17962,25178,17196
8,London,2024-04-01,1696,7292,508,634,384,1850,4269,16494,26416,16633
9,London,2024-05-01,2315,9567,595,1810,446,2302,5694,21260,27272,22729
10,London,2024-06-01,1736,8446,590,2809,432,2280,5301,18907,19911,21594
11,London,2024-07-01,1882,9371,609,4171,531,1865,6397,23843,16991,24826
12,Midlands,2024-02-01,4158,9044,1342,850,832,3667,8014,15007,27597,27907
13,Midlands,2024-03-01,4659,10977,1226,988,806,3242,7781,17782,25075,29679
14,Midlands,2024-04-01,4061,12694,1512,1486,842,3536,9866,17772,23607,33997
15,Midlands,2024-05-01,3973,11442,1114,4880,839,2750,9717,20651,23250,34715
16,Midlands,2024-06-01,3296,10147,1107,6687,826,2516,9285,18392,22169,33864
17,Midlands,2024-07-01,3562,10372,1240,8594,906,2543,11058,21652,20735,38275
18,North East and Yorkshire,2024-02-01,3400,7198,1353,509,769,3169,5640,8870,21419,22038
19,North East and Yorkshire,2024-03-01,3614,8828,1279,712,766,2770,5818,11834,18754,23787
20,North East and Yorkshire,2024-04-01,3159,9081,1369,1013,819,2905,7137,10340,17270,25483
21,North East and Yorkshire,2024-05-01,3343,9381,1167,2936,847,2761,7824,13215,18477,28259
22,North East and Yorkshire,2024-06-01,2594,8579,1279,4530,885,2826,7554,12726,17287,28247
23,North East and Yorkshire,2024-07-01,2853,8971,1316,6267,913,2491,8932,14271,17514,31743
24,North West,2024-02-01,3137,7051,1169,561,671,3181,5374,13876,20556,21144
25,North West,2024-03-01,3250,8423,1097,689,678,2762,5330,16910,19050,22229
26,North West,2024-04-01,2696,8428,1095,866,682,2664,6475,15564,16927,22906
27,North West,2024-05-01,2699,8392,1016,2574,770,2421,6912,18816,17055,24784
28,North West,2024-06-01,2108,7534,981,4411,648,2258,6838,15952,15514,24778
29,North West,2024-07-01,2226,7700,1052,5136,762,2249,7887,20186,16652,27012
30,South East,2024-02-01,2805,5066,989,454,661,2802,4259,12460,17485,17036
31,South East,2024-03-01,3788,7706,1049,508,619,2549,4755,14804,16978,20974
32,South East,2024-04-01,3061,7826,1032,850,713,2743,5790,14401,16041,22015
33,South East,2024-05-01,3236,7890,948,3183,745,2392,5856,17161,15732,24250
34,South East,2024-06-01,2483,7169,946,3854,738,2132,5882,15631,14402,23204
35,South East,2024-07-01,2905,7516,1021,5180,835,2020,7028,19423,13830,26505
36,South West,2024-02-01,1564,3769,848,320,406,1778,3183,6251,15436,11868
37,South West,2024-03-01,2283,5238,921,320,391,1690,3333,7736,14998,14176
38,South West,2024-04-01,1909,5259,1023,567,496,1801,4226,7786,15410,15281
39,South West,2024-05-01,2032,4937,826,1417,523,1457,4077,9381,14507,15269
40,South West,2024-06-01,1563,4622,852,2012,546,1328,4067,8531,14685,14990
41,South West,2024-07-01,1790,4550,887,2595,545,1278,4907,9969,13635,16552

### **TO DO - Compare these against the numbers we get from OpenSAFELY

#### Medication supply data analysis
Data on medications supplied under a Pharmacy First clinical pathway is published by NHS BSA within the [Prescription Cost Analysis (PCA) dataset](https://opendata.nhsbsa.net/dataset/prescription-cost-analysis-pca-monthly-data) - from Feb 24 onwards the PCA dataset contains a column "PHARMACY_ADVANCED_SERVICE" which contains a value 'Pharmacy First Clinical Pathways' where medication was supplied under the Pharmacy First service.

Here we fetch all Pharmacy First medications from PCA data from Feb 24 onwards then combine to return as a single dataframe: